body{
    background-color: black;
    color: white;
}

body h1{
    font-size: xx-large;
}

h1{
    background-color: lawngreen;
    border-bottom: 2px solid #fff;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;